.dot-open {
    background-color: #24C48E;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50px;
}

.bt-edit-switch:hover {
    border-bottom: 3px solid #24C48E;
}

.switch-not-work {
    display: inline-block;
    background-color: darkgray;
    color: #fff;
    padding: .5em;
    border-radius: 5px;
    font-size: medium;
}

.switch-working {
    display: inline-block;
    background-color: #24C48E;
    color: #fff;
    padding: .5em;
    border-radius: 5px;
    font-size: medium;
}

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 4px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    content: "ปิด";
    line-height: 2.2;
}

input:checked+.slider {
    background-color: #24C48E;
}

input:focus+.slider {
    box-shadow: 0 0 1px #24C48E;
}

input:checked+.slider:before {
    -webkit-transform: translateX(42px);
    -ms-transform: translateX(42px);
    transform: translateX(42px);
    content: "เปิด";
}


/* Rounded sliders */

.slider.round {
    border-radius: 25px;
}

.slider.round:hover {
    box-shadow: 0px 0px 20px 5px #e1e1e1;
}

.slider.round:before {
    border-radius: 100%;
}